body > div{

        background-color:black;

        border:6px solid white;

        padding:20px;
 
       margin:20px;
    }


body > div > div{

        background-color:purple;

        border:4px solid white;

        color:white;

        padding:20px;
 
        margin:20px;


    }
 
    

body > div > div:nth-of-type(2){

        background-color:red;

        border:4px solid white;

        color:white;

        padding:20px;
 
        margin:20px;


    } 

    
body > div >div >div {

        background-color:blue;

        border:2px solid white;

        color:white;

        text-align:center;

        padding:15px;
 
        margin:10px;


    }
 
    

body > div >div:first-child>div:first-child{

        background-color:yellow;

        border:2px solid white;

        color:white;

        text-align:center;

        padding:15px;
 
        margin:10px;


    }            
            
